@icon-size: 32px;
@white: #fff;
@gray: #999;
@lime: #0f0;

html, body {
    background: #1d1d1d;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: @white;
}

h1 {
    font-size: 2.4em;
    font-weight: normal;

    span {
        color: @lime;
    }
}

a {
    color: @white;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

span.gray {
    color: @gray;
}

span.lime {
    color: @lime;
}

.layout {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    transform: translate3d(0,0,0);

    .content {
        flex: none;
    }

    h1 {
        text-align: center;
        margin-top: 0;
    }
}

ul.link-list {
    list-style: none;
    margin-bottom: 5px;
    padding: 0;

    li {
        span {
            padding: 0 2px;
        }
        &:hover .icon path {
            fill: @lime;
        }
    }

    .icon {
        vertical-align: middle;
        width: @icon-size;
        height: @icon-size;
        padding-right: 8px;
        padding-bottom: 2px;
    
        path {
            fill: @white;
        }
    }
}