@icon-size: 32px;
@white: #fff;
@gray: #999;
@lime: #0f0;

html, body {
    background: #1d1d1d;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    color: @white;
}

.heading {
    p {
        margin-top: 0;
        font-size: 1.1em;
    }

    span {
        color: @lime;
    }
}

a {
    color: @white;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

span.gray {
    color: @gray;
}

span.lime {
    color: @lime;
}

.layout {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    transform: translate3d(0,0,0);

    .content {
        flex: none;
        background-color: #1f1f1f;
        padding: 20px;
    }

    h1 {
        text-align: center;
        margin-top: 0;
    }
}

ul.link-list {
    list-style: none;
    margin: 0 auto;
    padding: 0;

    li {
        padding-left: 0.7em;

        &::before {
            content: "\203a";
            color: @white;
            display: inline-block;
            width: 0.7em;
            margin-left: -0.7em;
        }

        &:hover::before {
            color: @lime;
        }

        a {
            display: inline-block;
            width: 100%;
        }
    }
}