html, body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

main {
    background: linear-gradient(to right bottom, rgb(77, 84, 209), rgb(165, 28, 123) 50%, rgb(238, 74, 55) 100%);
    color: #fff;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    transform: translate3d(0,0,0);
}

h1 {
    font-weight: normal;
}